*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    
}
.form{
    height: 500px;
    width: 500px;
    /* background-color: blue; */
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
}
.form span{
    color: red;
}